<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            Sign up
        </title>
        <link rel="stylesheet" href="../css/reset.css">
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/header.css">
        <link rel="stylesheet" href="../css/aside.css">
        <link rel="stylesheet" href="../css/login.css">
        <link rel="stylesheet" href="../css/sign-up.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:ital,wght@0,400;1,300;1,400&display=swap" rel="stylesheet">
    </head>
    <body>
        <header class="header">
                <a href="index.html">
                    <img src = "../../assets/imgs/logo-mega-rocket.png" alt="Mega rocket logo">
                </a>
                <img class="sidebar-icon" src="../../assets/imgs/sidebar-icon.png" alt="hamburguer menu">
        </header>
        <div class="page">
            <aside>
                <div class="aside">
                    <nav>
                        <ul>
                            <li class="nav-button">
                                <a href="index.html">
                                    <img src="../../assets/imgs/home-icon.png" alt="home icon">
                                    Home
                                </a>
                            </li>
                            <li class="nav-button">
                                <a href="sign-up.html">
                                    <img src="../../assets/imgs/sign-up-icon.png" alt="sign up icon">
                                    Sign Up
                                </a>
                            </li>
                            <li class="nav-button">
                                <a href="login.html">
                                    <img src="../../assets/imgs/sign-in-icon.png" alt="sign in">
                                    Sign In
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <div class="contact-info">
                        <h2>
                            Contact Information
                        </h2>
                        <ul class="contact-items-list">
                            <li class="contact-item">
                                <img src="../../assets/imgs/email-icon.png" alt="email icon">
                                information@untitled.tld
                            </li>
                            <li class="contact-item">
                                <img src="../../assets/imgs/phone-icon.png" alt="phone icon">
                                (000) 000-0000
                            </li>
                            <li class="contact-item">
                                <img src="../../assets/imgs/home-icon2.png" alt="home icon">
                                1234 Somewhere Road #8254 Nashville, TN
                            </li>
                        </ul>
                    </div>
                </div>
            </aside>
            <div class="sign-up-page">
                <main>
                    <div class="sign-up-box">
                        <form class="sign-up-form">
                            <div class="signup-form-field">
                                <label for="sign-up-name" class="form-label">
                                    Name
                                </label>
                                <input id="sign-up-name" class="input" placeholder="Enter Name" type="text">
                                <span class="input-error-message hidden"></span>
                            </div>
                            <div class="signup-form-field">
                                <label for="sign-up-surname" class="form-label">
                                    Surname
                                </label>
                                <input id="sign-up-surname" class="input" placeholder="Enter surame" type="text">
                                <span class="input-error-message hidden"></span>
                            </div>
                            <div class="signup-form-field">
                                <label for="sign-up-dni" class="form-label">
                                    DNI
                                </label>
                                <input id="sign-up-dni" class="input" placeholder="Enter DNI" type="text">
                                <span class="input-error-message hidden"></span>
                            </div>
                            <div class="signup-form-field">
                                <label for="sign-up-birth" class="form-label">
                                    Birth
                                </label>
                                <input id="sign-up-birth" class="input" placeholder="Enter birth" type="date">
                                <span class="input-error-message hidden"></span>
                            </div>
                            <div class="signup-form-field">
                                <label for="sign-up-phone" class="form-label">
                                    Phone
                                </label>
                                <input id="sign-up-phone" class="input" placeholder="Enter phone number" type="text">
                                <span class="input-error-message hidden"></span>
                            </div>
                            <div class="signup-form-field">
                                <label for="sign-up-address" class="form-label">
                                    Address
                                </label>
                                <input id="sign-up-address" class="input" placeholder="Enter address" type="text">
                                <span class="input-error-message hidden"></span>
                            </div>
                            <div class="signup-form-field">
                                <label for="sign-up-city" class="form-label">
                                    City
                                </label>
                                <input id="sign-up-city" class="input" placeholder="Enter city" type="text">
                                <span class="input-error-message hidden"></span>
                            </div>
                            <div class="signup-form-field">
                                <label for="sign-up-code" class="form-label">
                                    Postal Code
                                </label>
                                <input id="sign-up-code" class="input" placeholder="Enter postal code" type="text">
                                <span class="input-error-message hidden"></span>
                            </div>
                            <div class="signup-form-field">
                                <label for="sign-up-email" class="form-label">
                                    Email
                                </label>
                                <input id="sign-up-email" class="input" placeholder="Enter email" type="text">
                                <span class="input-error-message hidden"></span>
                            </div>
                            <div class="signup-form-field">
                                <label for="sign-up-membership" class="form-label">
                                    Membership
                                </label>
                                <select id="sign-up-membership" class="input">
                                    <option value="choose-membership" selected disabled hidden>
                                        Choose a membership
                                    </option>
                                    <option value="only">
                                        Only Classes
                                    </option>
                                    <option value="classic">
                                        Classic
                                    </option>
                                    <option value="black">
                                        Black
                                    </option>
                                </select>
                                <span class="input-error-message hidden"></span>
                            </div>
                            <div class="signup-form-field">
                                <label for="sign-up-pass" class="form-label">
                                    Password
                                </label>
                                <input id="sign-up-pass" class="input" placeholder="Enter password" type="password">
                                <span class="input-error-message hidden"></span>
                            </div>
                            <div class="signup-form-field">
                                <label for="sign-up-repeatpass" class="form-label">
                                    Repeat password
                                </label>
                                <input id="sign-up-repeatpass" class="input" placeholder="Enter repeated password" type="password">
                                <span class="input-error-message hidden"></span>
                            </div>
                            <div>
                                <button type="submit" class="sign-up-button">
                                    Register
                                </button>
                            </div>
                        </form>
                    </div>
                </main>
            </div>
        </div>
        <div class="success-modal">
            <div class="modal">
                <div class="modal-top">
                    <span class="succes-tittle-modal">Successfuly registered</span>
                    <span class="success-close modal-cross">&times;</span>
                </div>
                <p class="success-content modal-content"></p>
                <button type="button" class="success-modal-button">ok</button>
            </div>
        </div>
        <div class="error-modal">
            <div class="modal">
                <div class="modal-top">
                    <span class="error-tittle-modal">Register Error</span>
                    <span class="error-close modal-cross">&times;</span>
                </div>
                <p class="error-content modal-content"></p>
                <button type="button" class="error-modal-button">ok</button>
            </div>
        </div>
        <script src="../js/sign-up.js"></script>
    </body>
</html>