* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #373867;
    position: sticky;
    top: 0;
    height: 98px;
    width: 1512px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 1;
}

aside {
    background-color: #AACE9B;
    display: block;
    position: fixed;
    width: 313px;
    height: 915px;
    top: 98px;
    z-index: 1;
}

nav {
    display: inline-block;
    margin: 19px 25px 19px 25px;
}

main {
    position: relative;
    width: 1200px;
    left: 313px;
}

footer {
    background-color: #AACE9B;
    display: block;
    position: relative;
    height: 72px;
    width: 1200px;
    left: 313px;
}

.logo {
    display: inline-block;
    margin: 29px;
    width: 194px;
    height: 41px;
}

.nav-button {
    position: relative;
    list-style: none;
    background: #FFFFFF;
    border: 1px solid #373867;
    border-radius: 5px;
    height: 38px;
    width: 263px;
    margin-bottom: 19px;
}

.nav-button:last-child {
    margin-bottom: 0;
}

.nav-button a {
    display: block;
    text-decoration: none;
    color: #373867;
    font-style: normal;
    height: 38px;
    font-size: 20px;
    font-weight: 876;
    line-height: 23px;
    padding-top: 7.3px;
    padding-left: 107px;
}

.nav-button img {
    position: absolute;
    left: 79px;
    top: 9.86px;
}

.contact-info {
    position: relative;
    margin: 19px;
    top: 477px;
}

.contact-item {
    display: inline-block;
    position: relative;
    list-style: none;
    width: 217px;
    margin-top: 19px;
    left: 47px;
    color: #373867;
    font-size: 20px;
    line-height: 23px;
}

.contact-item img {
    position: absolute;
    left: -32.72px;
}

.contact-info h2 {
    display: inline-block;
    position: relative;
    color: #FFFFFF;
    border-bottom: 3px solid #FFFFFF;
    left: 46px;
    font-size: 20px;
    line-height: 23px;
}

.welcome-section {
    width: 1050px;
    height: 315px;
    margin-top: 65px;
    margin-left: 74px;
}

.welcome-text {
    float: left;
    text-align: center;
    width: 485px;
    margin-top: 69px;
    margin-right: 64px;
}

.welcome-text h1 {
    text-transform: uppercase;
    margin: 0;
    color: #373867;
    font-size: 40px;
    line-height: 47px;
}

.welcome-text h2 {
    text-transform: uppercase;
    color: #49A37B;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}

.welcome-text p {
    color: #373867;
    margin-top: 34px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}

.section-title {
    display: inline-block;
    border-bottom: 3px solid #49A37B;
    color: #373867;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
}

.features-section {
    display: inline-block;
    margin-top: 65px;
    margin-left: 112px;
    height: 469px;
    width: 959px;
}

.features-section h2 {
    margin-left: 420px;
    margin-bottom: 29px;
}

.feature-article {
    display: inline-block;
    width: 477px;
    margin-top: 24px;
}

.feature-article img,h3,p {
    display: inline-block;
}

.feature-article img {
    float: left;
    margin-right: 15px;
}

.feature-article h3 {
    color: #373867;
    margin-top: 8px;
    font-weight: 876;
    font-size: 24px;
    line-height: 28px;
}

.feature-article p {
    color: #373867;
    height: 115px;
    width: 337px;
    margin-top: 29px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}

.about-section {
    margin-top: 70px;
    margin-left: 87px;
}

.about-section h2 {
    margin-left: 371px;
    margin-bottom: 51px;  
}

.about-article-first p{
    float: right;
    text-align: right;
    margin-top: 37px;
    margin-right: 91px;
    width: 554px;
    height: 184px;
    color: #373867;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}

.about-article-second {
    margin-top: 24px;
}

.about-article-second p{
    float: left;
    text-align: left;
    margin-top: 37px;
    margin-right: 10px;
    width: 558px;
    height: 115px;
    color: #373867;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}

.form-section {
    margin-top: 65px;
    margin-left: 150px;
}
