body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #373867;
    position: fixed;
    top: 0;
    height: 98px;
    width: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 1;
}

aside {
    background-color: #AACE9B;
    display: block;
    position: fixed;
    width: 313px;
    height: 100%;
    top: 98px;
    z-index: 1;
}

nav {
    display: inline-block;
    margin: 19px 25px 19px 25px;
}

main {
    position: relative;
    width: 1200px;
    top: 98px;
    left: 313px;
}

footer {
    background-color: #AACE9B;
    display: block;
    position: relative;
    text-align: center;
    top: 98px;
    padding-top: 8px;
    height: 72px;
    width: 1200px;
    left: 313px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}

table, tbody, th, td, tr {
    vertical-align: middle;
    text-align: center;
}

footer a {
    margin-right: 16px;
    text-decoration: none;
}

.logo {
    display: inline-block;
    margin: 29px;
    width: 194px;
    height: 41px;
}

.nav-button {
    position: relative;
    list-style: none;
    background: #FFFFFF;
    border: 1px solid #373867;
    border-radius: 5px;
    height: 38px;
    width: 263px;
    margin-bottom: 19px;
}

.nav-button:last-child {
    margin-bottom: 0;
}

.nav-button a {
    display: block;
    text-decoration: none;
    color: #373867;
    font-style: normal;
    height: 38px;
    font-size: 20px;
    font-weight: 876;
    line-height: 23px;
    padding-top: 7.3px;
    padding-left: 107px;
}

.nav-button img {
    position: absolute;
    left: 79px;
    top: 9.86px;
}

.contact-info {
    position: relative;
    margin-left: 30px;
    top: 462.67px;
}

.contact-item {
    list-style: none;
    margin-top: 19px;
    color: #373867;
    font-size: 20px;
    line-height: 23px;
}

.contact-item img {
    float: left;
    margin-right: 16.36px;
}

.contact-info h2 {
    display: inline-block;
    position: relative;
    margin-bottom: 21px;
    color: #FFFFFF;
    border-bottom: 3px solid #FFFFFF;
    left: 31.64px;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
}

.welcome-section {
    width: 1050px;
    height: 315px;
    margin-top: 65px;
    margin-left: 74px;
}

.welcome-text {
    float: left;
    text-align: center;
    width: 485px;
    margin-top: 69px;
    margin-right: 64px;
}

.welcome-text h1 {
    text-transform: uppercase;
    margin: 0;
    color: #373867;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
}

.welcome-text h2 {
    text-transform: uppercase;
    color: #49A37B;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}

.welcome-text p {
    color: #373867;
    margin-top: 34px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}

.section-title {
    display: inline-block;
    border-bottom: 3px solid #49A37B;
    color: #373867;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
}

.features-section {
    margin-top: 65px;
    margin-left: 112px;
    height: 469px;
    width: 959px;
}

.features-section h2 {
    margin-left: 420px;
    margin-bottom: 29px;
}

.feature-article {
    display: inline-block;
    width: 395px;
    margin-top: 24px;
}

.first-column-feature {
    margin-right: 164px;
}

.feature-article img,h3,p {
    display: inline-block;
}

.feature-article img {
    float: left;
    margin-right: 15px;
}

.feature-article h3 {
    color: #373867;
    margin-top: 8px;
    font-weight: 876;
    font-size: 24px;
    line-height: 28px;
}

.feature-article p {
    color: #373867;
    height: 115px;
    width: 337px;
    margin-top: 29px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}

.about-section {
    margin-top: 70px;
    margin-left: 87px;
}

.about-section h2 {
    margin-left: 371px;
    margin-bottom: 51px;  
}

.about-article-first p{
    float: right;
    text-align: right;
    margin-top: 37px;
    margin-right: 91px;
    width: 554px;
    height: 184px;
    color: #373867;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}

.about-article-second {
    margin-top: 24px;
}

.about-article-second p{
    float: left;
    text-align: left;
    margin-top: 37px;
    margin-right: 10px;
    width: 558px;
    height: 115px;
    color: #373867;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}

.form-section {
    margin-top: 65px;
    margin-left: 150px;
    width: 900px;
    height: 387px;
}

.form-section h2 {
    margin-left: 346px;
    margin-bottom: 37px;
}

.form-inputs {
    display: inline-block;
    margin-right: 74px;
}

.label{
    display: block;
    color: #373867;
    margin-bottom: 7px;
    margin-top: 23px;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
}

.form-input input {
    width: 234px;
    padding: 10px 12px 10px 12px;
    border: 1px solid #373867;
    border-radius: 4px;
}

.form-input input::placeholder, .form-textarea textarea::placeholder {
    color: #373867;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    opacity: 0.5;
}

.form-button {
    border-style: none;
    margin-top: 20px;
    padding: 14px 36px;
    width: 123px;
    height: 47px;
    background: #AACE9B;
    border-radius: 5px;
    color: #373867;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}

.form-select-textarea {
    float: right;
    width: 566px;
}

.form-select select {
    height: 36px;
    width: 566px;
    padding: 10px 12px 10px 12px;
    border: 1px solid #373867;
    border-radius: 4px;
    color: #373867;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.form-textarea textarea {
    width: 540px;
    height: 163px;
    resize: none;
    padding: 10px 12px 10px 12px;
    border: 1px solid #373867;
    border-radius: 4px;
}

.activities-section {
    margin-top: 65px;
    margin-left: 133px;
    height: 346px;
}

.activities-section h2 {
    margin-left: 348px;
    margin-bottom: 62px;
}

.activities-article ul {
    list-style: disc;
    display: inline-block;
    margin-top: 22px;
    color: #373867;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
}

.activities-article ul li {
    margin-bottom: 14px;
}

.activities-article img {
    float: right;
    margin-right: 132px;
}

.membership-section {
    margin-top: 65px;
    margin-left: 109px;
    margin-bottom: 65px;
}

.membership-section h2 {
    margin-left: 379px;
    margin-bottom: 62px;
}

.membership-table {
    color: #373867;
    font-weight: 600;
}

.first-column {
    width: 392.62px;
}

.white-tr, .colored-tr {
    height: 58.6px;
}

.colored-tr {
    background-color: #D9D9D9;;
}

.membership-th {
    width: 196.31px;
}
