<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            MegaRocket
        </title>
        <link rel="stylesheet" href="../css/reset.css">
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/header.css">
        <link rel="stylesheet" href="../css/aside.css">
        <link rel="stylesheet" href="../css/content.css">
        <link rel="stylesheet" href="../css/footer.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:ital,wght@0,400;1,300;1,400&display=swap" rel="stylesheet">
    </head>
    <body>
        <header class="header">
                <a href="index.html">
                    <img src = "/assets/imgs/logo-mega-rocket.png" alt="Mega rocket logo">
                </a>
                <img class="sidebar-icon" src="/assets/imgs/sidebar-icon.png" alt="hamburguer menu">
        </header>
        <div class="page">
            <aside>
                <div class="aside">
                    <nav>
                        <ul>
                            <li class="nav-button">
                                <a href="index.html">
                                    <img src="/assets/imgs/home-icon.png" alt="home icon">
                                    Home
                                </a>
                            </li>
                            <li class="nav-button">
                                <a href="#">
                                    <img src="/assets/imgs/sign-up-icon.png" alt="sign up icon">
                                    Sign Up
                                </a>
                            </li>
                            <li class="nav-button">
                                <a href="login.html">
                                    <img src="/assets/imgs/sign-in-icon.png" alt="sign in">
                                    Sign In
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <div class="contact-info">
                        <h2>
                            Contact Information
                        </h2>
                        <ul class="contact-items-list">
                            <li class="contact-item">
                                <img src="/assets/imgs/email-icon.png" alt="email icon">
                                information@untitled.tld
                            </li>
                            <li class="contact-item">
                                <img src="/assets/imgs/phone-icon.png" alt="phone icon">
                                (000) 000-0000
                            </li>
                            <li class="contact-item">
                                <img src="/assets/imgs/home-icon2.png" alt="home icon">
                                1234 Somewhere Road #8254 Nashville, TN
                            </li>
                        </ul>
                    </div>
                </div>
            </aside>
            <div class="content">
                <main>
                    <div class="container">
                        <section>
                            <div class="welcome-section">
                                <article>
                                    <h1>
                                        Mega Rocket web
                                    </h1>
                                    <h2>
                                        Welcome
                                    </h2>
                                    <p>
                                        Mega Rocket web is a monthly management system for members and trainers so that
                                        they can dynamically sign up for their activities in the gym.
                                    </p>
                                </article>
                                <img src="/assets/imgs/welcome.png" alt="modern gym with multiple machines">
                            </div>
                        </section>
                        <section>
                            <h2 class="section-title">
                                Features
                            </h2>
                            <div class="features-section">
                                <article class="feature-article">
                                    <img src="/assets/imgs/shift-reservations-logo.png" alt="shift icon">
                                    <h3>
                                        Shift Reservations
                                    </h3>
                                    <p>
                                        Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore.Proin aliquam
                                         facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
                                    </p>
                                </article>
                                <article class="feature-article">
                                    <img src="/assets/imgs/schedule-logo.png" alt="shcedule icon">
                                    <h3>
                                        Scheduling & Opening Hours
                                    </h3>
                                    <p>
                                        Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin
                                        aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
                                    </p>
                                </article>
                                <article class="feature-article">
                                    <img src="/assets/imgs/membership-management-logo.png" alt="management icon">
                                    <h3>
                                        Membership Management
                                    </h3>
                                    <p>
                                        Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin
                                        aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
                                    </p>
                                </article>
                                <article class="feature-article">
                                    <img src="/assets/imgs/contact-logo.png" alt="contact icon">
                                    <h3>
                                        Contact Form & Suggestions
                                    </h3>
                                    <p>
                                        Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin
                                        aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
                                    </p>
                                </article>
                            </div>
                        </section>
                        <section>
                            <h2 class="section-title">
                                About Mega Rocket
                            </h2>
                            <div class="about-section">
                                <article class="about-first-article">
                                    <img src="/assets/imgs/about1.png" alt="gym with machines and green spaces">
                                    <p class="desktop-text">
                                        Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin
                                        aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
                                        Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin
                                        aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
                                        Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin
                                        aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
                                    </p>
                                    <p class="mobile-text">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                                        (...)
                                    </p>
                                    <button class="about-button" type="button">Learn More</button>
                                </article>
                                <article class="about-second-article">
                                    <img src="/assets/imgs/about2.png" alt="a member of the gym training in a treadmill">
                                    <p class="desktop-text">
                                        Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin
                                        aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
                                        Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin
                                        aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
                                        Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin
                                        aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
                                    </p>
                                    <p class="mobile-text">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                                        (...)
                                    </p>
                                    <button class="about-button" type="button">Learn More</button>
                                </article>
                            </div>
                        </section>
                        <section>
                            <h2 class="section-title">
                                Get in touch
                            </h2>
                            <form>
                                <div class="form-section">
                                    <div class="inputs">
                                        <div>
                                            <label for="form-name" class="label">
                                                First Name
                                            </label>
                                            <input id="form-name" placeholder="Enter name" type="text">
                                        </div>
                                        <div>
                                            <label for="form-last-name" class="label">
                                                Last Name
                                            </label>
                                            <input id="form-last-name" placeholder="Enter last name" type="text">
                                        </div>
                                        <div>
                                            <label for="form-email" class="label">
                                                Email address
                                            </label>
                                            <input id="form-email" placeholder="Enter adress" type="text">
                                        </div>
                                        <button class = "desktop-button" type="submit">
                                            Submit
                                        </button>
                                    </div>
                                    <div class="select-textarea">
                                        <div>
                                            <label for="form-reason" class="label">
                                                Contact Reason
                                            </label>
                                            <select id="form-reason">
                                                <option selected disabled hidden value="Choose contact reason">
                                                    Choose contact reason
                                                </option>
                                                <option value="I want to make a claim">
                                                    I want to make a claim
                                                </option>
                                                <option value="I want to realize a query or suggestion">
                                                    I want to realize a query or suggestion
                                                </option>
                                                <option value="I want to know the memberships and costs">
                                                    I want to know the memberships and costs
                                                </option>
                                            </select>
                                        </div>
                                        <div>
                                            <label for="form-message" class="label">
                                                Message
                                            </label>
                                            <textarea id="form-message" placeholder="Enter your message"></textarea>
                                        </div>
                                    </div>
                                    <button class = "mobile-button" type="submit">
                                        Submit
                                    </button>
                                </div>
                            </form>
                        </section>
                        <section>
                            <h2 class="section-title">
                                Gym Activities
                            </h2>
                            <article>
                                <div class="activities-section">
                                    <ul class="activities-list">
                                        <div class="activities-column">
                                            <li>
                                                Crossfit
                                            </li>
                                            <li>
                                                Spinning
                                            </li>
                                            <li>
                                                Functional
                                            </li>
                                        </div>
                                        <div class="activities-column">
                                            <li>
                                                Fitness
                                            </li>
                                            <li>
                                                Boxing
                                            </li>
                                        </div>
                                    </ul>
                                    <img src="/assets/imgs/activities.png" alt="huge view of a gym">
                                </div>
                            </article>
                        </section>
                        <section>
                            <h2 class="section-title">
                                Memberships
                            </h2>
                            <table>
                                <tr class="colored-tr">
                                    <th class="first-column"></th>
                                    <th>
                                        Only Classes
                                    </th>
                                    <th>
                                        Classic
                                    </th>
                                    <th>
                                        Black
                                    </th>
                                </tr>
                                <tr>
                                    <td class="first-column" >
                                        Free access to the fitness room
                                    </td>
                                    <td>
                                        <img src="/assets/imgs/x-member-icon.png" alt="cross icon">
                                    </td>
                                    <td>
                                        <img src="/assets/imgs/check-member-icon.png" alt="check icon">
                                    </td>
                                    <td>
                                        <img src="/assets/imgs/check-member-icon.png" alt="check-icon">
                                    </td>
                                </tr>
                                <tr class="colored-tr">
                                    <td class="first-column">
                                        Free access to classes prior enrollment
                                    </td>
                                    <td>
                                        <img src="/assets/imgs/check-member-icon.png" alt="cross icon">
                                    </td>
                                    <td>
                                        <img src="/assets/imgs/x-member-icon.png" alt="check icon">
                                    </td>
                                    <td>
                                        <img src="/assets/imgs/check-member-icon.png" alt="check-icon">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="first-column">
                                        Perzonalized follow-up by a trainer
                                    </td>
                                    <td>
                                        <img src="/assets/imgs/x-member-icon.png" alt="cross icon">
                                    </td>
                                    <td>
                                        <img src="/assets/imgs/check-member-icon.png" alt="check icon">
                                    </td>
                                    <td>
                                        <img src="/assets/imgs/check-member-icon.png" alt="check-icon">
                                    </td>
                                </tr>
                                <tr class="colored-tr">
                                    <td class="first-column">
                                        Scheduling visualization
                                    </td>
                                    <td>
                                        <img src="/assets/imgs/check-member-icon.png" alt="cross icon">
                                    </td>
                                    <td>
                                        <img src="/assets/imgs/check-member-icon.png" alt="check icon">
                                    </td>
                                    <td>
                                        <img src="/assets/imgs/check-member-icon.png" alt="check-icon">
                                    </td>
                                </tr>
                            </table>
                        </section>
                    </div>
                </main>
                <footer>
                    <div class="container">
                        <div class="footer-links">
                            <a href="#">
                                <img src="/assets/imgs/linkedin.png" alt="linkedin logo">
                            </a>
                            <a href="#">
                                <img src="/assets/imgs/facebook.png" alt="facebook logo">
                            </a>
                            <a href="#">
                                <img src="/assets/imgs/instagram.png" alt="instagram logo">
                            </a>
                        </div>
                        <p>
                            Copyright © 2022 Radium Rocket.
                        </p>
                    </div>
                </footer>
            </div>
        </div>
    </body>
</html>