* {
    box-sizing: border-box;
}

body {
    color: #373867;
    font-family: 'Roboto', sans-serif;
    font-size: 1.25em;
    line-height: 1.2em;
}

aside {
    display: none;
}

main {
    margin-top: 98px;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

h1 {
    color: #373867;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.8em;
    line-height: 1.2em;
}

h3 {
    color: #373867;
    font-weight: 876;
    font-size: 0.8em;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 30px;
}

table {
    width: 100%;
    font-weight: bold;
    font-size: 0.6em;
    line-height: 1em;
}

th, td {
    display: flex;
    justify-content: center;
    width: 20%;
}

tr {
    display: flex;
    align-items: center;
    height: 40px;
}

.about-button {
    align-self: center;
    margin: 14px 0;
    padding: 10px 24px;
    background-color: #ffffff;
    border: 1px solid #373867;
    border-radius: 5px;
    color: #373867;
    font-weight: bold;
    font-size: 0.7em;
}

.label {
    display: block;
    margin-bottom: 7px;
    font-weight: bold;
    font-size: 0.8em;
}

.desktop-button {
    display: none;
}

.mobile-button {
    align-self: flex-end;
    width: 76px;
    height: 33px;
    margin-top: 14px;
    background: #AACE9B;
    border-style: none;
    border-radius: 5px;
    color: #373867;
    font-weight: bold;
    font-size: 0.6em;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px;
}

.section-title {
    align-self: center;
    margin-bottom: 20px;
    border-bottom: 3px solid #49A37B;
    color: #373867;
    font-weight: 700;
    font-size: 1.8em;
    line-height: 1em;
}

.page {
    display: flex;
    height: 100vh;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.input{
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #373867;
    border-radius: 4px;
    color: #373867;
}

.input::placeholder {
    color: #373867;
    font-size: 1em;
    opacity: 0.5;
}

.form-label {
    font-size: 0.8em;
    font-weight: bold;
    line-height: 0.5em;
}

.input-error-message {
    font-size: 0.8em;
    color: red;
}

.input-error {
    border: 1px solid red;
    color: red;
}

.input-error::placeholder {
    color: red;
}

.label-error {
    color: red;
}

.hidden {
    display: none;
}


.success-modal, .error-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.success-modal {
    display: none;
}

.error-modal {
    display: none;
}

.modal {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    width: 80%;
    background-color: #fefefe;
    padding: 20px;
    border-radius: 4px;
    height: 25%;
}

.modal-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.modal-content {
    overflow: auto;
    height: 60%;
}

.succes-tittle-modal {
    color: #49A37B;
    font-size: 1em;
    font-weight: bold;
}

.modal-cross {
    color: #373867;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
}

.success-modal-button {
    width: 22%;
    height: 22%;
    margin-top: 10px;
    align-self: flex-end;
    border: none;
    border-radius: 5px;
    background-color: #AACE9B;
    color: #373867;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: bold;
    cursor: pointer;
}

.error-tittle-modal {
    color: #F13312;
    font-size: 1em;
    font-weight: bold;
}

.error-modal-button {
    width: 22%;
    height: 22%;
    margin-top: 10px;
    align-self: flex-end;
    border: none;
    border-radius: 5px;
    background-color: #F13312;
    color: #fefefe;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: bold;
    cursor: pointer;
}

@media (min-width: 601px) {

    section {
        align-items: normal;
        max-width: 774px;
    }

    .about-button {
        display: none;
    }

    .desktop-button {
        display: inline-block;
        width: 123px;
        height: 47px;
        margin-top: 8px;
        padding: 14px 36px;
        background: #AACE9B;
        border-style: none;
        border-radius: 5px;
        color: #373867;
        font-weight: bold;
        font-size: 0.8em;
    }

    .mobile-button {
        display: none;
    }

    .section-title {
        margin-bottom: 50px;
    }

    .container {
        padding: 0 30px;
    }

    .modal {
        max-width: 50%;
    }

    table {
        max-width: 804px;
        font-size: 0.8em;
    }

    tr {
        height: 48px;
    }
}

@media (min-width: 1025px) {

    aside {
        display: inline-block;
    }

    h3 {
        font-size: 1.2em;
    }

    section {
        max-width: 1050px;
        margin-top: 65px;
    }

    table {
        max-width: 100%;
        font-size: 1em;
    }

    tr {
        height: 58px;
    }

    .content {
        margin-left: 313px;
    }

    .container {
        padding: 0 70px;
    }

    .modal {
        max-width: 25%;
        margin-left: 313px;
    }
}