.welcome-section {
    text-align: center;
}

.welcome-section h2 {
    display: none;
}

.welcome-section article {
    margin-bottom: 30px;
    max-width: 367px;
}

.features-section {
    display: flex;
    flex-wrap: wrap;
}

.features-section article {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 30px;
    max-width: 395px;
}

.features-section article:last-child {
    margin-bottom: 0;
}

.features-section article img {
    max-width: 26px;
    max-height: 26px;
    margin: 10px 10px 10px 40px;
}

.features-section p {
    width: 100%;
    font-size: 0.7em;
}

.about-section {
    max-width: 80%;
}

.about-section article {
    display: flex;
    flex-direction: column;
}

.about-section article img {
    margin-bottom: 14px;
}

.form-section {
    display: flex;
    flex-direction: column;
}

.form-section input {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px 12px 10px 12px;
    border: 1px solid #373867;
    border-radius: 4px;
}

.form-section input::placeholder, .form-section textarea::placeholder {
    color: #373867;
    font-size: 14px;
    line-height: 16px;
    opacity: 0.5;
}

.form-section select {
    width: 100%;
    height: 36px;
    margin-bottom: 15px;
    padding: 0 12px;
    border: 1px solid #373867;
    border-radius: 4px;
    color: #373867;
    font-size: 0.9em;
}

.form-section textarea {
    width: 100%;
    height: 148px;
    padding: 10px 12px 10px 12px;
    border: 1px solid #373867;
    border-radius: 4px;
    resize: none;
}