* {
    box-sizing: border-box;
}

body {
    color: #373867;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 23px;
}

main {
    margin-top: 98px;
}

aside {
    display: none;
}

section {
    margin-top: 30px;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

h1 {
    color: #373867;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.8em;
    line-height: 47px;
}

h3 {
    color: #373867;
    font-weight: 876;
    font-size: 0.9em;
    line-height: 28px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

button[type = "button"] {
    align-self: center;
    margin: 14px 0;
    padding: 10px 24px;
    color: #373867;
    background-color: #ffffff;
    border: 1px solid #373867;
    border-radius: 5px;
    font-size: 0.7em;
    font-weight: bold;
}

button[type = "submit"] {
    width: 76px;
    height: 33px;
    margin-top: 14px;
    background: #AACE9B;
    border-style: none;
    border-radius: 5px;
    color: #373867;
    font-weight: bold;
    font-size: 0.6em;
}

label {
    display: block;
    margin-bottom: 7px;
    font-size: 0.8em;
    font-weight: bold;
}

table, tbody, th, td, tr {
    vertical-align: middle;
    text-align: center;
}

table {
    width: 100%;
    font-size: 0.7em;
    font-weight: bold;
    line-height: 1em;
}

th, td {
    width: 20%;
}

tr {
    height: 38px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
}

.section-title {
    align-self: center;
    margin-bottom: 20px;
    border-bottom: 3px solid #49A37B;
    color: #373867;
    font-weight: 700;
    font-size: 1.8em;
    line-height: 35px;
}

@media (min-width: 601px) {

    h3 {
        font-size: 20px;
    }

    section {
        max-width: 774px;
        align-items: normal;
    }

    button[type = "button"] {
        display: none;
    }

    .section-title {
        margin-bottom: 50px;
    }

    button[type = "submit"] {
        margin-top: 0;
    }

    tr {
        height: 48px;
    }

    table {
        max-width: 804px;
    }
}

@media (min-width: 1025px) {

    section {
        max-width: 1050px;
        margin-top: 65px;
    }

    aside {
        display: inline-block;
    }

    button[type = "submit"] {
        width: 123px;
        height: 47px;
        padding: 14px 36px;
        font-weight: bold;
        font-size: 16px;
    }

    .page {
        display: flex;
        height: 100vh;
    }

    .content {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        margin-left: 313px;
    }

    h3 {
        font-size: 24px;
    }

    table {
        max-width: 100%;
    }

    tr {
        height: 58px;
    }

}