* {
    box-sizing: border-box;
}

body {
    color: #373867;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 23px;
}

aside {
    display: none;
}

section {
    margin-top: 30px;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

h1 {
    color: #373867;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.8em;
    line-height: 47px;
}

h3 {
    color: #373867;
    font-weight: 876;
    font-size: 0.9em;
    line-height: 28px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button[type = "button"] {
    align-self: center;
    margin: 14px 0;
    padding: 10px 24px;
    color: #373867;
    background-color: #ffffff;
    border: 1px solid #373867;
    border-radius: 5px;
    font-size: 0.7em;
    font-weight: bold;
}

button[type = "submit"] {
    align-self: flex-end;
    width: 76px;
    height: 33px;
    margin-top: 14px;
    background: #AACE9B;
    border-style: none;
    border-radius: 5px;
    color: #373867;
    font-weight: bold;
    font-size: 0.6em;
}

label {
    display: block;
    margin-bottom: 7px;
    font-size: 0.8em;
    font-weight: bold;
}

.desktop-text {
    display: none;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 15px;
    margin: 0 auto;
}

.section-title {
    align-self: center;
    margin-bottom: 20px;
    border-bottom: 3px solid #49A37B;
    color: #373867;
    font-weight: 700;
    font-size: 1.8em;
    line-height: 35px;
}
