.sign-up-page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 0 15px;
    margin-top: 98px;
}

.sign-up-page main {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 196px;
}

.sign-up-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #000000;
    width: 830px;
    padding: 36px 0 36px 0;
}

.sign-up-form {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.left-inputs, .right-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.sign-up-button {
    padding: 14px 36px;
    margin-top: 20px;
    background: #AACE9B;
    border: 0px;
    border-radius: 5px;
    color: #373867;
    font-size: 16px;
    font-weight: bold;
    align-self: center;
}

@media (min-width: 601px) {

    .sign-up-box {
        height: 650px;
    }

    .sign-up-form {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .left-inputs, .right-inputs {
        width: 50%;
    }
}

@media (min-width: 1025px) {
    .sign-up-page {
        margin-left: 313px;
    }
}